server:
  port: ${SERVER_PORT:8080}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/user_db}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    # msk 설정
    # properties:
    #   security.protocol: SASL_SSL
    #   sasl.mechanism: AWS_MSK_IAM
    #   sasl.jaas.config: software.amazon.msk.auth.iam.IAMLoginModule required;
    #   sasl.client.callback.handler.class: software.amazon.msk.auth.iam.IAMClientCallbackHandler
      
client:
  point-service:
    url: ${POINT_SERVICE_URL:http://localhost:8082}

jwt:
  secret: ${JWT_SECRET}