name: user-service deploy

on:
  push:
    branches: [master]

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      
      - name: Configure AWS credentials
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64
          # ,linux/arm64
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/board-system/user-service:${{ github.sha }}
            ${{ steps.login-ecr.outputs.registry }}/board-system/user-service:latest
        
      - name: s3 upload
        run: |
          aws s3 cp deploy/ \
          s3://bs-bucket-a/user-service/deploy/ \
          --recursive
      
      - name: save image tag as sha
        run: |
          aws ssm put-parameter \
            --name "/prod/board-system/user-service/SERVICE_NAME" \
            --value "user-service" \
            --type String \
            --overwrite

          aws ssm put-parameter \
            --name "/prod/board-system/user-service/IMAGE_TAG" \
            --value "${{ github.sha }}" \
            --type String \
            --overwrite
      
      - name: ASG instance refresh
        run: |
          aws autoscaling start-instance-refresh \
            --auto-scaling-group-name user-service-asg \
            --preferences MinHealthyPercentage=100